<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonDock" version="2.0.2000" targetFramework="net45" />
  <package id="Be.Windows.Forms.HexBox" version="1.6.1" targetFramework="net451" />
  <package id="Extended.Wpf.Toolkit" version="2.5" targetFramework="net451" />
  <package id="NAudio" version="1.7.3" targetFramework="net451" />
  <package id="SharpDX" version="2.6.3" targetFramework="net451" />
  <package id="SharpDX.Direct3D11" version="2.6.3" targetFramework="net451" />
  <package id="SharpDX.DXGI" version="2.6.3" targetFramework="net451" />
  <package id="SharpDX.Toolkit" version="2.6.3" targetFramework="net451" />
  <package id="SharpDX.Toolkit.Graphics" version="2.6.3" targetFramework="net451" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net451" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net451" />
  <package id="zlib.net" version="1.0.4.0" targetFramework="net451" />
</packages>